@page
@model MulkyWebRazor.Pages.Category.EditModel

<form method="post">
    <input asp-for="Category.CategoryId" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Update Category</h1>
            <hr />
        </div>
        @*To Show all errors summary *@
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row p-0">
            <label asp-for="Category.Name"></label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-0">
            <label asp-for="Category.DisplayOrder"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Category/Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@* Adding client side validation (we need to use JS) *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}